.message-form {
	width: 100%;
  display: flex;
	justify-content: space-between;
	align-items: flex-end;
	background-color: #1976d2;
	box-sizing: border-box;
  padding:5px;
}

.keyboard-icon {
  height: 32px;
  width:32px;
  background-image: url(/assets/keyboard.png);
}

.message-form-input {
	width:75%;
  height:25px;
  background-color: #1976d2;
	border-radius: 0;
  border: 1px solid white;
  color:white;
}
.message-form-input::placeholder {
  color: gainsboro;
}


.message-form-button {
  height:29px;
  box-sizing: border-box;
	background-color: darkorange;
  color: white;
  font-weight: bold;
	width:100px;
	border: 0;
	box-shadow: none;
	border-radius: 0px;
}
