li.message-item {
	padding:5px;
	border-bottom: 1px solid gainsboro;
	height: 90px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin:0;
	opacity: 1;
}

li.message-item > .message-content {
	margin-left: 20px;
	width:80%;
	font-size:1.1rem;
	font-style: italic;
}

li.message-item > .avatar {
	border: 1px solid white;
	float:left;
	border-radius: 50%;
	padding:5px;
}

li.message-item >.timestamp {
	font-size: 0.7rem;
	color: gainsboro;
	font-style: italic;
	align-self: flex-end;
}
